// bg-color
.hover-bg {
    &:hover {
        background-color: #c0a4a5;
    }
}
.a-bottomlink {
    border-bottom: 1px solid transparent;
    &:hover {
        border-bottom: 1px solid $primary;
    }
}
.header-show {
    li {
        background-color: $primary;
        a {
            color: $info;
            padding: 16px 0px;
            width: 100%;
            &:hover {
                color: $success;
            }
        }
        &:hover {
            background-color: $secondary;
        }
    }
}
.courses_level {
    border: 3px solid transparent;
    cursor: pointer;
}
.courses_level:hover,
.courses_level.active {
    border: 3px solid $white;
    span {
        opacity: 1;
    }
}
