.layout {
    &-OrderStep {
        padding-top: 64px;
        padding-bottom: 104px;
        @include Ipad {
            padding-bottom: 80px;
        }
        @include mobile {
            padding-top: 48px;
            padding-bottom: 88px;
        }
    }
    &-index {
        padding-top: 40px;
        padding-bottom: 64px;
        @include Ipad {
            padding-bottom: 56px;
        }
        @include X-mobile {
            padding-top: 48px;
            padding-bottom: 48px;
        }
    }
    &-index-fluid {
        padding-top: 64px;
        padding-bottom: 64px;
        @include Ipad {
            padding-top: 32px;
            padding-bottom: 48px;
        }
    }
    &-contact {
        padding-top: 64px;
        padding-bottom: 110px;
        @include Ipad {
            padding-bottom: 80px;
        }
        @include X-mobile {
            padding-top: 48px;
            padding-bottom: 88px;
        }
    }
    &-planLevel {
        padding: 40px 40px 64px 40px;
        @include Ipad {
            padding-top: 32px;
            padding-bottom: 48px;
        }
        @include X-mobile {
            padding-right: 15px;
            padding-left: 15px;
        }
    }
    &-courses {
        padding-top: 40px;
        padding-bottom: 64px;
        @include Ipad {
            padding-bottom: 48px;
        }
        @include X-mobile {
            padding-top: 32px;
        }
    }
    &-environment {
        padding-top: 64px;
        padding-bottom: 64px;
        @include Ipad {
            padding-bottom: 40px;
        }
        @include X-mobile {
            padding-top: 48px;
            padding-bottom: 40px;
        }
    }
    &-recommendClass {
        padding-top: 40px;
        padding-bottom: 56px;
        @include Ipad {
            padding-top: 32px;
            padding-bottom: 52px;
        }
        @include X-mobile {
            padding-top: 40px;
            padding-bottom: 48px;
        }
    }
}
