.card-border {
  background-color: $white;
  border-radius: 16px;
}
.object-cover {
  object-fit: cover;
}
.object-contain {
  object-fit: contain;
}
.margin-negative {
  @media (min-width: 992px) {
    margin-left: -120px;
  }
}
header {
  h1 {
    a {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      text-indent: 101%;
      overflow: hidden;
      white-space: nowrap;
      background-image: url(../images/DOYOGA-logo.png);
      height: 30px;
      width: 96px;
    }
  }
}
footer {
  h1 {
    a {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      text-indent: 101%;
      overflow: hidden;
      white-space: nowrap;
      background-image: url(../images/DOYOGA.png);
      height: 30px;
      width: 96px;
    }
  }
}
.overflow-x {
  overflow-x: scroll;
  font-size: 14px;
  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #f6ead6;
  }
  &::-webkit-scrollbar-track {
    box-shadow: transparent;
  }
}
.opacity {
  opacity: 0.2;
}
.bg-opacity {
  background: $info;
  opacity: 0.5;
}
// 字型
.title-l {
  font-size: 36px;
  line-height: 54px;
  @include X-mobile {
    font-size: 28px;
    line-height: 42px;
  }
}
.title-x {
  font-size: 28px;
  line-height: 42px;
}
.title-s {
  font-size: 24px;
  line-height: 36px;
}
.title-s-mobile {
  font-size: 24px;
  line-height: 36px;
  @include X-mobile {
    font-size: 20px;
    line-height: 30px;
  }
}
.title {
  font-size: 20px;
  line-height: 30px;
}
.title-xs {
  font-size: 14px;
  line-height: 21px;
}
.border-l {
  border-radius: 16px;
}
.border-top-radius {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  @media (max-width: 992px) {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 16px;
  }
  @include X-mobile {
    border-top-right-radius: 16px;
    border-bottom-left-radius: 0px;
  }
}
.border-s {
  border-radius: 4.8px;
}
.w-30 {
  width: 30%;
}
.h-150 {
  height: 150px;
}
.h-196 {
  height: 196px;
}
.h-half {
  @include Ipad {
    height: 46%;
  }
  @include X-mobile {
    height: 100%;
  }
}
.h-300 {
  height: 300px;
}
.h-350 {
  height: 350px;
  @include Ipad {
    height: 216px;
  }
  @include X-mobile {
    height: 350px;
  }
}
.h-420 {
  height: 420px;
  @include Ipad {
    height: 300px;
  }
  @include X-mobile {
    height: 420px;
  }
}
.h-444 {
  height: 444px;
}
.h-497 {
  height: 497px;
}
.h-582 {
  height: 582px;
}
.h-628 {
  height: 628px;
}
.circle {
  width: 96px;
  height: 96px;
}
.l-94 {
  width: 94px;
  height: 94px;
  @include X-mobile {
    width: 48px;
    height: 48px;
  }
}
.l-68 {
  width: 68px;
  height: 68px;
  @include X-mobile {
    width: 48px;
    height: 48px;
  }
}
.bg-fluid {
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.pb-113 {
  padding-bottom: 113px;
  @include Ipad {
    padding-bottom: 80px;
  }
  @include X-mobile {
    padding-bottom: 80px;
  }
}
.fluid-md {
  @include Ipad {
    padding-right: 0;
    padding-left: 0;
  }
}
.sticky-bar {
  position: fixed;
  top: 50%;
  right: 0;
  bottom: 0;
  transform: translateY(-50%);
  z-index: 1000;
  @include Ipad {
    display: none;
  }
}
.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 100%;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.position-center {
  left: 25%;
  top: 0%;
  transform: translateX(-25%);
}
.position-50 {
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(-100%);
}
.position-120 {
  position: absolute;
  top: 120%;
  transform: translateY(-120%);
}
.form-group,
.input-group {
  input,
  select {
    border-radius: 4px;
    border: 1px solid $secondary;
    padding: 6px 12px;
    color: #907a7b;
    @include X-mobile {
      padding: 6px;
    }
  }
}
.form-group {
  ::-webkit-input-placeholder {
    color: $secondary;
  }
}
.input-group {
  ::-webkit-input-placeholder {
    color: $info;
  }
}
.form-group-info {
  label {
    color: $secondary;
  }
}
.check-button {
  input {
    display: none;
  }
  label {
    padding-left: 20px;
    position: relative;
    white-space: nowrap;
    &::before {
      content: '';
      width: 16px;
      height: 16px;
      border: 1px solid $secondary;
      border-radius: 3px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
  input:checked ~ label {
    &::before {
      background-color: $secondary;
    }
    &::after {
      content: '';
      width: 16px;
      height: 16px;
      background-color: $secondary;
      background-image: url(../images/done_white_24dp.svg);
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
.radio-button {
  input {
    display: none;
  }
  input:checked ~ label {
    &::before {
      background-color: $secondary;
    }
    &::after {
      content: '';
      width: 5px;
      height: 5px;
      border: 1px solid $secondary;
      border-radius: 50%;
      background-color: #fff;
      position: absolute;
      left: 20%;
      top: 50%;
      transform: translate(-20%, -50%);
    }
  }
  label {
    position: relative;
    padding-left: 20px;
    &::before {
      content: '';
      width: 16px;
      height: 16px;
      border: 1px solid $secondary;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
// index 的swiper
.comment {
  .card-border {
    width: 30%;
  }
  @include Ipad {
    .comment-wrapper {
      width: 1140px;
    }
  }
  @include X-mobile {
    .card-border {
      width: 100%;
    }
    .comment-content:first-child {
      margin-right: 30px;
    }
    .comment-content {
      width: 570px;
    }
  }
}
// <i class="fab fa-facebook"></i>
// <i class="fab fa-instagram"></i>
// <i class="fab fa-line"></i>
