body {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    font-family: "Noto Sans TC", sans-serif;
    line-height: 1.5;
    h3 {
        font-size: 28px;
        line-height: 42px;
        color: #907a7b;
    }
    a {
        display: inline-block;
        text-decoration: none;
        color: $info;
        &:hover {
            filter: brightness(50%);
        }
    }
    img {
        display: block;
        object-fit: cover;
        max-width: 100%;
        height: auto;
    }
    .form-content {
        color: $success;
    }
    input {
        outline: none;
        border: 1px solid $secondary;
    }
    .form-info {
        label,
        input {
            color: $info;
        }
    }
}
